<!DOCTYPE html>
<html>
    <head>

        <title>Translation Caching</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- styles of page  -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <!-- css style file and image -->
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="https://mod1android.com/wp-content/uploads/2021/05/ABC-Kids-Games-Phonics-to-Learn-alphabet-Letters-15.0-MOD-APK-Dwnload-free-Modded-Unlimited-Money-on-Android.png" type="image/x-icon">
    </head>
<body id="body">

    <!-- edit box initially==> hidden, visible on clicked on edit button  -->
    <div id="edit-box">


        <!-- user profile image  -->
        <img src="https://memoq-com.azureedge.net/wp-content/uploads/2019/07/textra.png">

        <h2>Translation caching API Documentation</h2>
        <!-- input texts to modify the data  -->

        <p>To get the text translation, we can use Postman or any web browser and hit this API as follow:</p>
        <p>for Example- Convert How are you Buddy! to Marathi</p>
        <h5>{URL}/translate?text=How%20are%20you%20Buddy%21&lang=mr</h5>
        <p>#URL- (http://localhost:5000) or Deployed link (https://ninja-translation-caching.herokuapp.com/)</p>
        <p>for the target Langauge, only ISO Language code should be passed as value. Please refer below given table for iso Language</p>
        
        <a href="https://pradeep-thombre.github.io/TranslationUI/">[Click here]</a>
        <p>to Try Our Translation UI Application</p>

        <iframe src="https://datahub.io/core/language-codes/r/0.html" width="100%" height="150%" frameborder="0"></iframe>

    </div>
    
    <!-- <script src="assets/Js/dataLoad.js"></script>
    <script src="assets/Js/functions.js"></script> -->
</body>
</html>
